<div class="container">
    <div class="book-box">
        <h2>Hurray, Payment is done!</h2>
        <p>Order list are: </p>
            <%@x.each do |pa|%>
            <li>Book Name: <%=pa%></li>
            <%end%>
    </div>
</div>