<h1>showing user details</h1>

<p><strong>Name: </strong><%= @user.name %></p>
<p><strong>Email: </strong><%= @user.email %></p>
<p><strong>Mobile no.: </strong><%= @user.contactnumber %></p>
<td><%= link_to 'Show Books', books_path %></td>

