<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="signin-form">
        <div class="form shadow rounded">
          <%= form_with(url: otp_verification_path, method: :post) do |form| %>
          <div class="field mt-3">
            <%= form.label :OTP %></br>
            <%= form.text_field :OTP, class:"form-control shadow rounded" %>
          </div>
          </br>
            <%= form.submit "submit otp" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>          