<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="signin-form">
        <div class="form shadow rounded">
        <div class="otp-form">
          <%= form_with(url: generate_otp_path, method: :post) do |form| %>
          <div >
            <%= form.label :contactnumber %></br>
            <%= form.text_field :contactnumber, class:"form-control shadow rounded" %>
          </div>
          </br>
            <%= form.submit "Send otp" ,class: "btn btn-success" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>        