<div class="container" >
  <div class="row justify-content-center p-4">
    <div class="col-6">
        <div class="form shadow rounded">
      <div class="signup-form">
            <h1>New Book</h1>

            <%= render 'form', book: @book %>
            </br>
            <%= button_to 'Back', books_path %>
        </div>
      </div>
    </div>
  </div>
</div>       
